<h2>View your secure message</h2>
<div id="secret_box">
<%= form_tag("/decrypt/#{@message.uuid}", :remote => true, :id => "decryptform" ) do %>
  <%= label_tag(:secret, "Enter the secret:")%>  <%= text_field_tag(:secret )%>
  <%= submit_tag "decode!", :class => 'btn btn-primary' %>
<% end %>
</div>

<form id="decoded_message">
  <textarea id="contents" rows="6" class="span4"></textarea>
</form>
